/* Base Styles -------------------- */
@import url("https://fonts.googleapis.com/css?family=Righteous|Teko");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif; }

.main-header {
  background-image: linear-gradient(#00ffff69, #00ffff4f), url(../images/man-person-jumping-desert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Righteous', cursive; }

.gallery {
  background-image: linear-gradient(#4646467e, #8d8d8da4, #7070708f, #7272723a), url(../images/man-person-jumping-desert.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', cursive; }

.contact {
  background-image: url(../images/pexels-photo-372098.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

h1,
h2 {
  font-size: 1.4em; }

p {
  font-size: 1em; }

.homepage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "prim-content prim-content prim-content" "sec-content sec-content sec-content" "footer footer footer"; }

footer {
  grid-area: footer; }

.container {
  padding: 0 10px 0 10px;
  display: grid;
  width: 100%;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(8, 1fr); }

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content image";
  grid-gap: 70px; }

.main-header {
  grid-area: header; }

.main-content {
  grid-area: prim-content; }

.activities1,
.activities2 {
  grid-area: content; }

.activities2 {
  grid-area: image; }

.images {
  grid-area: image; }

.images2 {
  grid-area: content; }

nav {
  /* Dropdown button */
  /* Links inside the dropdown */
  /* Show the dropdown menu on hover */ }
  nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.336); }
  nav li {
    float: right; }
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase; }
    nav a:hover {
      background-color: #00ffd4;
      color: black;
      transition: .8s;
      box-shadow: 1px 2px 2px #363636, -1px -2px 2px #313131;
      transition: ease .8s, ease-out .4s; }
    nav a:active {
      background-color: #00ffd4;
      color: black; }
  nav .dropdown {
    float: right;
    overflow: hidden; }
    nav .dropdown:hover {
      background-color: #00ffd4;
      transition: .8s;
      text-shadow: 2px 5px 5px #363636, -2px -5px 5px #313131;
      transition: ease .8s, ease-out .4s; }
  nav .dropdown .dropbtn {
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; }
    nav .dropdown .dropbtn:hover {
      color: black; }
  nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0000004f;
    width: 105.5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  nav .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
    nav .dropdown-content ahover {
      transition: .8s;
      background-color: #00ffd4; }
  nav .dropdown:hover .dropdown-content {
    display: block; }

.heading {
  margin-top: 150px;
  text-align: center;
  font-size: 3em; }

.para {
  padding: 0 115px 0 88px;
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'Noto Sans', sans-serif; }

.main-content {
  text-align: center; }

.activities1,
.activities2 {
  align-self: center;
  font-size: 1em;
  text-align: justify;
  margin: 5px 55px; }

.bg-camping {
  background-image: linear-gradient(#0000ff62, #0000ff3a), url(../images/bg-camp.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  color: white;
  padding: 100px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s; }

.bg-hiking {
  background-image: linear-gradient(#0000ff62, #0000ff3a), url(../images/pexels-photo-372098.jpeg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
  height: 70vh;
  padding: 100px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s; }

.bg-climbing {
  background-image: linear-gradient(#0000ff9f, #0000ff91, #ff9c9198), url(../images/bg-climb.jpeg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
  height: 70vh;
  padding: 100px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s; }

.bg-fishing {
  background-image: linear-gradient(rgba(128, 128, 128, 0.24), #9c9c9c9f, #7e7e7e91, #75757598), url(../images/bg-fish.jpeg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
  height: 70vh;
  padding: 100px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s; }

.bg-hunting {
  background-image: linear-gradient(#ff73003d, #ff66009f, #ff005591, #75757598), url(../images/Deer-Hunting-Background3.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
  height: 70vh;
  padding: 100px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s; }

.bg-canoeing {
  background-image: linear-gradient(#00ffea3d, #00ff739f, #2600ff91, #75757598), url(../images/bg-canoeing2.jpeg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
  height: 70vh;
  padding: 100px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s; }

.images,
.images2 {
  width: 700px;
  height: 410px;
  margin: 20px;
  box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
  transition: ease .8s, ease-out .4s;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); }

.btn a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-family: 'Righteous', cursive;
  font-size: 1em;
  width: 130px; }

footer {
  background-color: grey;
  height: 10vh;
  text-align: center; }

img {
  width: 100%;
  height: 100%; }
  img:hover {
    box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
    transition: ease 1s, ease-out 0.2s; }

.camp1 {
  grid-column: span 2; }

.camp2 {
  grid-column: span 2; }

.camp3 {
  grid-column: span 2; }

.camp4 {
  grid-column: span 2; }

.camp5 {
  grid-column: span 3; }

.camp6 {
  grid-column: span 3; }

.camp7 {
  grid-column: span 2; }

.hike1 {
  grid-column: span 3; }

.hike2 {
  grid-column: span 3; }

.hike3 {
  grid-column: span 2; }

.hike4 {
  grid-column: span 3; }

.hike5 {
  grid-column: span 2; }

.hike6 {
  grid-column: span 3; }

.hike7 {
  grid-column: span 4; }

.hike8 {
  grid-column: span 4; }

.climb1 {
  grid-column: span 3; }

.climb2 {
  grid-column: span 3; }

.climb3 {
  grid-column: span 2; }

.climb4 {
  grid-column: span 4; }

.climb5 {
  grid-column: span 4; }

.fish1 {
  grid-column: span 2; }

.fish2 {
  grid-column: span 4; }

.fish3 {
  grid-column: span 2; }

.fish4 {
  grid-column: span 2; }

.fish5 {
  grid-column: span 2; }

.fish6 {
  grid-column: span 2; }

.fish7 {
  grid-column: span 2; }

.hunt1 {
  grid-column: span 4; }

.hunt2 {
  grid-column: span 4; }

.hunt3 {
  grid-column: span 3; }

.hunt4 {
  grid-column: span 2; }

.hunt5 {
  grid-column: span 3; }

.canoe1 {
  grid-column: span 4; }

.canoe2 {
  grid-column: span 4; }

.canoe3 {
  grid-column: span 4; }

.canoe4 {
  grid-column: span 4; }

.canoe5 {
  grid-column: span 4; }

.canoe6 {
  grid-column: span 4; }

.main-contact {
  text-align: center;
  margin: 150px 200px;
  padding: 20px;
  border-radius: 20px;
  float: right;
  font-family: 'Righteous', cursive; }

input {
  background-color: #ffffff15;
  border: 1px black solid;
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  font-size: 1.2em;
  font-family: 'Righteous', cursive; }
  input:hover {
    background: rgba(255, 255, 255, 0);
    box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
    transition: ease 1s, ease-out 0.9s;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }

select {
  border: 1px black solid;
  background-color: #ffffff15;
  width: 250px;
  height: 30px;
  padding-top: 3px;
  color: grey;
  font-size: 1em;
  font-family: 'Righteous', cursive; }

textarea {
  border: 1px black solid;
  background-color: #ffffff15;
  font-family: 'Righteous', cursive; }
  textarea:hover {
    background: #ffffff00;
    box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
    transition: ease 1s, ease-out 0.9s;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }

.button {
  border: 1px black solid;
  background-color: #ffffff15;
  width: 510px;
  height: 40px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2em;
  font-family: 'Righteous', cursive; }
  .button:hover {
    background: #ffffff00;
    box-shadow: 3px 7px 7px #a0a0a0, -3px -7px 7px #a3a3a3;
    transition: ease 1s, ease-out 0.9s;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

@media only screen and (max-width: 1024px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content image";
    grid-gap: 70px; }

  .activities1 {
    grid-area: content; }

  .activities2 {
    grid-area: image; }

  .images {
    grid-area: image; }

  .images2 {
    grid-area: content; }

  .images,
  .images2 {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px; }

  .activities1,
  .activities2 {
    align-self: center;
    font-size: 1em;
    text-align: justify;
    margin: 5px 15px; }

  .heading {
    margin-top: 150px;
    text-align: center;
    font-size: 2.8em; }

  .para {
    text-align: center;
    padding: 0 70px 0 70px;
    font-size: 1.4em;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif; } }
@media only screen and (max-width: 786px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content content image";
    grid-gap: 70px; }

  .images {
    width: 280px;
    height: 200px;
    margin-top: 60px; }

  h1,
  h2 {
    font-size: 1.2em; }

  p {
    font-size: 1em; } }
@media only screen and (max-width: 725px) {
  .main-header {
    height: 70vh; }

  .heading {
    margin-top: 150px;
    text-align: center;
    font-size: 1.5em; }

  .para {
    padding: 0 115px 0 88px;
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif; } }

/*# sourceMappingURL=main.css.map */
