/* Base Styles -------------------- */

// global fonts
@import url('https://fonts.googleapis.com/css?family=Righteous|Teko');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}

.main-header {
    background-image: url(../images/man-person-jumping-desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
    font-family: 'Righteous', cursive;
    
}

.gallery {
    background-image: url(../images/man-person-jumping-desert.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.align {
    text-align: center;
    height: 30vh;
    padding: 60px;
    font-size: 2em;
}

h1,
h2 {
    font-size: 1.4em;
}

p {
    font-size: 1.1em; 
}

