/* Base Styles -------------------- */

// global fonts
@import url('https://fonts.googleapis.com/css?family=Righteous|Teko');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}

.main-header {
    background-image: linear-gradient(#00ffff69,#00ffff4f) ,url(../images/man-person-jumping-desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Righteous', cursive;
}

.gallery {
    background-image: linear-gradient(#4646467e,#8d8d8da4,#7070708f,#7272723a) ,url(../images/man-person-jumping-desert.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.contact {
    font-family: 'Righteous', cursive;
    background-image:  url(../images/pexels-photo-372098.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1,
h2 {
    font-size: 1.4em;
}

p {
    font-size: 1em; 
}

