// global components

// styling my nav bar

nav {
    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        background-color: #00000056;
    }
    
    li {
        float: right;
    }
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $hover-col;
            color: black;
            transition: .8s;
        }

        &:active {
            background-color: $hover-col;
            color: black;
        }
    }

// styling the dropdown button in my nav bar

    .dropdown {
        float: right;
        overflow: hidden;

        &:hover {
            background-color: $hover-col;
            transition: .8s;
        } 
    }  
    
      .dropdown .dropbtn {
        text-transform: uppercase;
        font-size: 16px; 
        border: none;
        outline: none;
        color: white;
        padding: 14px 5px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0; 

        &:hover {
            color: black;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0000004f;
        width: 105.5px;
        box-shadow: 0px 8px 16px 0px #00000033;
        z-index: 1;
    }
      
      .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &hover{
            color: black;
            transition: .8s;
            background-color: $hover-col;
        }
      }
  
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

// end of styling the nav bar

// styling the header
// the opening heading
.heading {
    margin-top: 150px;
    text-align: center;
    font-size: 3em;
}
// the opening paragraph
.para {
    padding: 0 115px 0 88px;
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
}

// styling my content

.main-content {
    text-align: center;
}

.activities1,
.activities2 {
    align-self: center;
    font-size: 1em;
    text-align: justify;
    margin: 0px 50px;
}

// a background image for camping

.bg-camping {
    background-image: linear-gradient( #0000ff62, #0000ff3a), url(../images/bg-camp.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    color: white;
    padding: 100px;
}

// a background image for hiking

.bg-hiking {
    background-image: linear-gradient( #0000ff62, #0000ff3a), url(../images/pexels-photo-372098.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
}

// a background image for climbing

.bg-climbing {
    background-image: linear-gradient( #0000ff9f, #0000ff91, #ff9c9198), url(../images/bg-climb.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
}

// a background image for fishing

.bg-fishing {
    background-image: linear-gradient( rgba(128, 128, 128, 0.24),#9c9c9c9f, #7e7e7e91, #75757598), url(../images/bg-fish.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
}

// a background image for hunting

.bg-hunting {
    background-image: linear-gradient( #ff73003d,#ff66009f, #ff005591, #75757598), url(../images/Deer-Hunting-Background3.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
}

// a background image on canoeing

.bg-canoeing {
    background-image:  linear-gradient( #00ffea3d,#00ff739f, #2600ff91, #75757598), url(../images/bg-canoeing2.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
}

.images,
.images2 {
    width: 700px;
    height: 410px;
    margin: 20px;
}

// styling my button

.btn {

    a {
        text-decoration: none;
        color: $prim-col;
        display: inline-block;
        font-family: 'Righteous', cursive;
        font-size: 1em;
        width: 130px;
    }
} 

// styling my footer

footer {
    bottom: 0;
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
    text-align: center;
    padding-top: 5px;
    height: 15vh;
    background-color: #00000056;
}

// end

// end of homepage

// gallery page

img {
    width: 100%;
    height: 100%;
}

// camping

.camp1 {
    grid-column: span 2;
}

.camp2 {
    grid-column: span 2; 
}

.camp3 {
    grid-column: span 2; 
}

.camp4 {
    grid-column: span 2; 
}

.camp5 {
    grid-column: span 3;
}

.camp6 {
    grid-column: span 3;
}

.camp7 {
    grid-column: span 2;
}

// end

// hiking

.hike1 {
    grid-column: span 3;
}

.hike2 {
    grid-column: span 3;
}

.hike3 {
    grid-column: span 2;
}

.hike4 {
    grid-column: span 3;
}

.hike5 {
    grid-column: span 2;
}

.hike6 {
    grid-column: span 3;
}

.hike7 {
    grid-column: span 4;
}

.hike8 {
    grid-column: span 4;
}

// end
// climbing

.climb1 {
    grid-column: span 3;
}

.climb2 {
    grid-column: span 3;
}

.climb3 {
    grid-column: span 2;
}

.climb4 {
    grid-column: span 4;
}

.climb5 {
    grid-column: span 4;
}

// end
// fishing

.fish1 {
    grid-column: span 2;
}

.fish2 {
    grid-column: span 4;
}

.fish3 {
    grid-column: span 2;
}

.fish4 {
    grid-column: span 2;
}

.fish5 {
    grid-column: span 2;
}

.fish6 {
    grid-column: span 2;
}

.fish7 {
    grid-column: span 2;
}

// end
// hunting

.hunt1 {
    grid-column: span 4;
}

.hunt2 {
    grid-column: span 4;
}

.hunt3 {
    grid-column: span 3;
}

.hunt4 {
    grid-column: span 2;
}

.hunt5 {
    grid-column: span 3;
}

// end
// canoe

.canoe1 {
    grid-column: span 4;
}

.canoe2 {
    grid-column: span 4;
}

.canoe3 {
    grid-column: span 4;
}

.canoe4 {
    grid-column: span 4;
}

.canoe5 {
    grid-column: span 4;
}

.canoe6 {
    grid-column: span 4;
}

// end

// contact page 
// styling my contact page
.main-contact {
    text-align: center;
    margin: 130px 200px;
    padding: 20px;
    float: right;
    font-family: 'Righteous', cursive;
}


input {
    background-color: #ffffff15;
    border: 1px black solid;
    width: 250px;
    height: 30px;
    padding: 5px 10px; 
    font-size: 1em;
}

select {
    border: 1px black solid;
    background-color: #ffffff15;
    width: 252px;
    height: 30px;
    padding: 2px 10px;
    color: grey;
    font-size: 1.2em;
}

textarea {
    border: 1px black solid;
    background-color: #ffffff15; 
    padding: 5px 10px;
    width: 26.4vw;
    height: 9vw;
}


.button {
    border: 1px black solid;
    background-color: #ffffff15;
    width: 510px;
    height: 40px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2em;
    font-family: 'Righteous', cursive;
    
}

// end