// global components

// styling my nav bar

nav {
    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.336);
    }
    
    li {
        float: right;
    }
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $hover-col;
            color: black;
            transition: .8s;
            text-shadow: 2px 5px 5px #363636,
                        -2px -5px 5px #313131;
            transition: ease .8s, ease-out .4s;
        }
    }

    .dropdown {
        float: right;
        overflow: hidden;

        &:hover {
            background-color: $hover-col;
            transition: .8s;
            text-shadow: 2px 5px 5px #363636,
                        -2px -5px 5px #313131;
            transition: ease .8s, ease-out .4s;
        } 
    }  
      
      /* Dropdown button */
      .dropdown .dropbtn {
        text-transform: uppercase;
        font-size: 16px; 
        border: none;
        outline: none;
        color: white;
        padding: 14px 5px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0; 

        &:hover {
            color: black;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0000004f;
        width: 105.5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &hover{
            transition: .8s;
            background-color: $hover-col;
        }
      }
  
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

// end of styling the nav bar

// styling the header

.header {
    margin-top: 150px;
    text-align: center;
    font-size: 2em;
    color: black;
}

.para {
    padding: 0 50px 0 50px;
}

// styling my content

.main-content {
    text-align: center;
}

.camping,
.hiking,
.climbing,
.fishing {
    text-align: justify;
}

.bg-camping {
    background-image: linear-gradient( #0000ff62, #0000ff3a), url(../images/bg-camp.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    color: white;
    padding: 100px;
    box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
    transition: ease .8s, ease-out .4s;
}

.bg-hiking {
    background-image: linear-gradient( #0000ff62, #0000ff3a), url(../images/pexels-photo-372098.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
    box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
    transition: ease .8s, ease-out .4s;
}

.bg-climbing {
    background-image: linear-gradient( #0000ff9f, #0000ff91, #ff9c9198), url(../images/bg-climb.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
    box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
    transition: ease .8s, ease-out .4s;
}

.bg-fishing {
    background-image: linear-gradient( rgba(128, 128, 128, 0.24),#9c9c9c9f, #7e7e7e91, #75757598), url(../images/bg-fish.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
    box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
    transition: ease .8s, ease-out .4s;
}

.bg-hunting {
    background-image: linear-gradient( #ff73003d,#ff66009f, #ff005591, #75757598), url(../images/Deer-Hunting-Background3.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
    box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
    transition: ease .8s, ease-out .4s;
}

.bg-canoeing {
    background-image:  linear-gradient( #00ffea3d,#00ff739f, #2600ff91, #75757598), url(../images/bg-canoeing2.jpeg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 70vh;
    padding: 100px;
    box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
    transition: ease .8s, ease-out .4s;
}

.images {
    width: 600px;
    height: 315px;
    border: 1px black solid;


    &:hover {
        box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
        transition: ease .8s, ease-out .4s;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}

// styling my button

.btn {

    a {
        text-decoration: none;
        color: $prim-col;
        display: inline-block;
    }

    &:hover{
        box-shadow: 3px 7px 7px #a0a0a0,
        -3px -7px 7px #a3a3a3;
        transition: ease .5s, ease-out .2s;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        display: block;
        background-color: $hover-col;
        width: 100%;
        border: 1px solid black;
        // transition: .8s;
    }
} 

// end

// end of homepage

// gallery page

img {
    width: 100%;
    height: 100%;
    border: 2px black solid;
    opacity: 0.7;

    &:hover {
        box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
        transition: ease 1s, ease-out 0.9s;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        opacity: 1;
    }
}

// camping

.camp1 {
    grid-column: span 2;
}

.camp2 {
    grid-column: span 2; 
}

.camp3 {
    grid-column: span 2; 
}

.camp4 {
    grid-column: span 2; 
}

.camp5 {
    grid-column: span 3;
}

.camp6 {
    grid-column: span 3;
}

.camp7 {
    grid-column: span 2;
}

// end

// hiking

.hike1 {
    grid-column: span 3;
}

.hike2 {
    grid-column: span 3;
}

.hike3 {
    grid-column: span 2;
}

.hike4 {
    grid-column: span 3;
}

.hike5 {
    grid-column: span 2;
}

.hike6 {
    grid-column: span 3;
}

.hike7 {
    grid-column: span 4;
}

.hike8 {
    grid-column: span 4;
}

// end
// climbing

.climb1 {
    grid-column: span 3;
}

.climb2 {
    grid-column: span 3;
}

.climb3 {
    grid-column: span 2;
}

.climb4 {
    grid-column: span 4;
}

.climb5 {
    grid-column: span 4;
}

// end
// fishing

.fish1 {
    grid-column: span 2;
}

.fish2 {
    grid-column: span 4;
}

.fish3 {
    grid-column: span 2;
}

.fish4 {
    grid-column: span 2;
}

.fish5 {
    grid-column: span 2;
}

.fish6 {
    grid-column: span 2;
}

.fish7 {
    grid-column: span 2;
}

// end
// hunting

.hunt1 {
    grid-column: span 4;
}

.hunt2 {
    grid-column: span 4;
}

.hunt3 {
    grid-column: span 3;
}

.hunt4 {
    grid-column: span 2;
}

.hunt5 {
    grid-column: span 3;
}

// end
// canoe

.canoe1 {
    grid-column: span 4;
}

.canoe2 {
    grid-column: span 4;
}

.canoe3 {
    grid-column: span 4;
}

.canoe4 {
    grid-column: span 4;
}

.canoe5 {
    grid-column: span 4;
}

.canoe6 {
    grid-column: span 4;
}

// end

// contact page 

.main-contact {
    background-color: rgba(255, 255, 255, 0.137);
    text-align: center;
    margin: 150px 200px;
    padding: 20px;
    border-radius: 20px;
    float: right;
    font-family: 'Righteous', cursive;
}


input {
    background-color: #ffffff15;
    width: 250px;
    height: 30px;
    padding: 5px; 
    font-size: 1.2em;
    font-family: 'Righteous', cursive;

    &:hover {
        background: white;
        box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
        transition: ease 1s, ease-out 0.9s;
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}

select {
    border: 2px solid rgb(185, 185, 185);
    background-color: #ffffff15;
    width: 250px;
    height: 30px;
    padding-top: 3px;
    font-size: 1em;
    font-family: 'Righteous', cursive;
}

textarea {
    background-color: #ffffff15; 
    font-family: 'Righteous', cursive;
    
    &:hover {
        background: white;
        box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
        transition: ease 1s, ease-out 0.9s;
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}


.button {
    background-color: #ffffff15;
    width: 500px;
    height: 40px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2em;
    font-family: 'Righteous', cursive;
    
    &:hover {
        background: white;
        box-shadow: 3px 7px 7px #a0a0a0,
                    -3px -7px 7px #a3a3a3;
        transition: ease 1s, ease-out 0.9s;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
