// global layouts

// global layouts
.homepage {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    grid-template-areas: "header header header"
                "prim-content prim-content prim-content"
                "sec-content sec-content sec-content"
                "footer footer footer";
}

footer {
    grid-area: footer;
}

.container{
    padding: 0 10px 0 10px;
    display: grid;
    width: 100%;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(8,1fr);
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content image"; 
    grid-gap: 70px; 
}

.main-header {
    grid-area: header;
}

.main-content {
    grid-area: prim-content;
}

.activities1,
.activities2
 {
    grid-area: content;
}

.images {
    grid-area: image;
}


