@media only screen and (max-width:2560px) {
    .heading {
        margin-top: 12vw;
    }

    .para {
        padding: 2vw 27vw;
        font-weight: 500;
    }

    h1 {
        font-size: 1.4vw;
    }
    
    p {
        font-size: 1vw;
    }

    select {
        border: 1px black solid;
        background-color: #ffffff15;
        width: 20vw;
        height: 75px;
        padding: 0px 10px;
        color: grey;
        font-size: 1.2em;
    }

    input {
        height: 75px;
        width: 20vw;
    }

    textarea {
        border: 1px black solid;
        background-color: #ffffff15;
        padding: 5px 10px;
        width: 40vw;
        height: 9vw;
        font-size: 1vw;
    }

    .button {
        width: 40vw;
        height: 4vw;
    }

    .contact-form {
        h1 {
            font-size: 2vw;
        }
    }

    .main-contact {
        margin: 160px;
        margin-left: 15vw;
        float: none;
    }
}

@media only screen and (max-width:1440px) {
 
    .heading {
        margin-top: 20vw;
    }

    .para {
        padding: 2vw 10vw;
        font-weight: 500;
    }

    textarea {
        border: 1px black solid;
        background-color: #ffffff15;
        padding: 5px 10px;
        width: 35.2vw;
        height: 9vw;
        font-size: 1vw;
    }
}

// responsiveness

// laptop max-width 1024
@media only screen and (max-width:1024px) {

    // grids

    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content image"; 
        grid-gap: 70px; 
    }

    .activities1 {
        grid-area: content;
    }

    .activities2 {
        grid-area: image;
    }

    .images {
        grid-area: image;
    }

    .images2 {
        grid-area: content;
    }

    // end

    .images,
    .images2 {
        width: 490px;
        height: 340px;
        margin-top: 50px;
        margin-left: 50px;
    }

    .activities1,
    .activities2 {
        align-self: center;
        font-size: 1em;
        text-align: justify;
        margin: 5px 10px;
    }

    
// styling the header

    .heading {
        margin-top: 150px;
        text-align: center;
        font-size: 2.8em;
    }

    .para {
        text-align: center;
        padding: 0 70px 0 70px;
        font-size: 1.4em;
        font-weight: 800;
        font-family: 'Noto Sans', sans-serif;
    }

    h1,
    h2 {
        font-size: 1.2em;
    } 

    p {
        font-size: 0.9em;
    }

    .main-contact {
        margin-left: 0px;
        margin-right: 0px;
    }
}



// tablet 768px

@media only screen and (max-width:768px) {

    .homepage {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
        grid-template-areas: "header header"
                             "prim-content prim-content"
                             "footer footer";
    }

    .heading {
        margin-top: 100px;
        text-align: center;
        font-size: 2em;
    }

    .para {
        text-align: center;
        padding: 0 70px 0 70px;
        font-size: 1.4em;
        font-weight: 500;
        font-family: 'Noto Sans', sans-serif;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content image"; 
        grid-gap: 70px; 
    }

    .images,
    .images2 {
        width: 280px;
        height: 200px;
        margin-top: 60px;
    }

    .adventures1,
    .adventures2 {
        grid-area: content image;
    }

    .images,
    .images2 {
        grid-area: image content;
    }

    h1,
    h2 {
        font-size: 1em; 
    }

    p {
        font-size: 0.7em;
    }

    .main-contact {
        margin-left: 0px;
        margin-right: 0px;
    }

    input,
    select {
        width: 125px;
    }

    textarea {
        width: 250px;
    }

    .button {
        width: 250px;
    }


}



// mobile 425px 

@media only screen and (max-width:425px) {

    .homepage {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
        grid-template-areas: "header"
                             "prim-content"
                             "footer";
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "content" 
                             "image"
                             "content1"
                             "image1"; 
        grid-gap: 0px; 
    }

    .adventures1 {
        grid-area: content;
    }

    .images {
        grid-area: image;
    }

    .adventures2 {
        grid-area: content1;
    }

    .images2 {
        grid-area: image1;
    }

    .heading {
        margin-top: 50px;
        text-align: center;
        font-size: 1em;
    }

    .para {
        color: white;
        text-align: center;
        padding: 0 10px 0 10px;
        font-size: 0.8em;
        font-weight: 500;
        font-family: 'Noto Sans', sans-serif;
    }

    .main-header {
        font-size: 1em;
        background-image: linear-gradient(#00ffff69,#00ffff4f) ,url(../images/man-person-jumping-desert.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: 50vh;
        font-family: 'Righteous', cursive;
    }

    .bg-camping,
    .bg-hiking,
    .bg-climbing,
    .bg-fishing,
    .bg-hunting,
    .bg-canoeing {
        background-attachment: scroll;
        height: 45vh;
        color: white;
        padding: 40px;
    }

    .images,
    .images2 {
        width: 300px;
        height: 200px;
        margin: 15px 10px;
    }

    .activities1,
    .activities2 {
        align-self: center;
        font-size: 1em;
        text-align: justify;
        margin: 5px 10px;
    }

    .main-contact {
        background-color: #ffffff93;
        margin-left: 100px;
        margin-right: 20px;
    }

    input,
    select {
        width: 125px;
    }

    textarea {
        width: 250px;
    }

    .button {
        width: 250px;
    }


}

// mobile 375px 

@media only screen and (max-width:375px) {

    .heading {
        margin-top: 50px;
        text-align: center;
        font-size: 0.9em;
    }

    .para {
        color: white;
        text-align: center;
        padding: 0 10px 0 10px;
        font-size: 0.7em;
        font-weight: 500;
        font-family: 'Noto Sans', sans-serif;
    }

    .main-header {
        font-size: 0.9em;
    }

    li a {
        padding-top: 15px;
    }

    .dropdown {
        font-size: 0.8em;
        float: none;
    }

    .main-contact {
        background-color: #ffffff93;
        margin-left: 100px;
        margin-right: 20px;
    }

    input,
    select {
        width: 100px;
    }

    textarea {
        width: 200px;
    }

    .button {
        width: 200px;
    }
}

@media only screen and (min-width:320px) and (max-width:390px) {

    .main-header {
        height: 45vh;
    }

    .heading {
        margin-top: 50px;
        text-align: center;
        font-size: 1.3em;
    }

    .para {
        color: white;
        text-align: center;
        padding: 0 10px 0 10px;
        font-size: 1em;
        font-weight: 500;
        font-family: 'Noto Sans', sans-serif;
    }

    .main-header {
        font-size: 0.6em;
    }

    a {
        font-size: 0.9em;
        padding: 0 auto;
    }

    nav .dropdown .dropbtn {
        font-size: 11px;
    }

    nav .dropdown-content {
        width: 76.5px;
    }

    .bg-camping,
    .bg-hiking,
    .bg-climbing,
    .bg-fishing,
    .bg-hunting,
    .bg-canoeing {
        background-attachment: scroll;
        height: 45vh;
        color: white;
        padding: 20px;
    }

    h1 {
        font-size: 0.8em;
    }

    .main-contact {
        background-color: #ffffff93;
        margin-left: 100px;
        margin-right: 20px;
    }

    input,
    select {
        width: 75px;
    }

    textarea {
        width: 150px;
    }

    .button {
        width: 150px;
    }

    .menu li {
        float: left;
    }
}
