// responsiveness

// laptop max-width 1024
@media only screen and (max-width:1024px) {

    // grids

    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content image"; 
        grid-gap: 70px; 
    }

    .activities1 {
        grid-area: content;
    }

    .activities2 {
        grid-area: image;
    }

    .images {
        grid-area: image;
    }

    .images2 {
        grid-area: content;
    }

    // end

    .images,
    .images2 {
        width: 300px;
        height: 200px;
        margin-top: 50px;
        margin-left: 50px;
    }

    .activities1,
    .activities2 {
        align-self: center;
        font-size: 1em;
        text-align: justify;
        margin: 5px 15px;
    }

    
// styling the header

    .heading {
        margin-top: 150px;
        text-align: center;
        font-size: 2.8em;
    }

    .para {
        text-align: center;
        padding: 0 70px 0 70px;
        font-size: 1.4em;
        font-weight: 800;
        font-family: 'Noto Sans', sans-serif;
    }
}

// tablet 786px

@media only screen and (max-width:786px) {
    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content content image"; 
        grid-gap: 70px; 
    }

    .images {
        width: 280px;
        height: 200px;
        margin-top: 60px;
    }

    h1,
    h2 {
        font-size: 1.2em; 
    }

    p {
        font-size: 1em;
    }
}

// mobile 425px 

@media only screen and (max-width:725px) {

    .homepage {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
        grid-template-areas: "header header"
                    "prim-content prim-content"
                    "footer footer";
    }

    .main-content {
        grid-area: prim-content;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "content1"
                             "image1"
                             "content2"
                             "image2"; 
        grid-gap: 70px; 
    }

    .activities1 {
        grid-area: content1;
    }

    .activities2 {
        grid-area: image1;
    }

    .activities1,
    .activities2 {
        align-self: center;
        font-size: 0.8em;
        text-align: justify;
        margin: 0px 15px;
    }

    .images {
        grid-area: image1;
    }

    .images2 {
        grid-area: image2;
    }

    // nav li
    li {
        float: left;
    }

    a {
        padding: 5px 10px;
    }

    .dropdown {
        float: left;
    }

    .dropdown .dropbtn {
        font-size: 0.8em;
    }
    // end//

    .main-header {
        background-attachment: scroll;
        height: 60vh;
        align-self: center;
    }

    .heading {
        margin-top: 80px;
        text-align: center;
        font-size: 1.5em;
    }
    
    .para {
        padding: 0 10px 0px;
        font-size: 1em;
        font-weight: 600;
        font-family: 'Noto Sans', sans-serif;
    }

    .bg-camping,
    .bg-hiking,
    .bg-climbing,
    .bg-hiking,
    .bg-fishing,
    .bg-hunting,
    .bg-canoeing {
        height: 50vh;
        padding: 10px;
        align-self: center;
        background-attachment: scroll;
    }

    .images {
        width: 280px;
        height: 200px;
        margin-top: 0px;
    }

    .images,
    .images2 {
        width: 280px;
        height: 200px;
        margin-top: 0px;
        margin-left: 0px;
    }
} 