// global colors

$bg-col: linear-gradient (rgba(0, 0, 0, 0.845),rgba(0, 0, 0, 0.665),rgba(0, 0, 0, 0.530));

$prim-col: #000000;
$sec-col: #ffffff;
$tert-col: #00ffff;

$prim-text-col: #ffffff;
$prim-text-col-shadow: #000000; 
$sec-text-col: #15ff00;
$transparent: #00000046;

// pseudo elements

$active-col: #000000;
$visited-col: #53ff53;
$hover-col: #00ffd4;
